<div class="container">
	<div class="lightmap-overlay"></div>

	<div class="game-controller">
		<button type="button" (click)="resetGame()">RESET</button>
	</div>
	<div class="game">
		<div class="outer_circle">
			<div class="inner_circle">
				<div class="circle-lightoverlay">

				</div>
				<div
				class="circle"
				[style.--turn-degree]="totalTurnDegree + 'deg'"
				[style.--turn-speed-seconds]="turnSpeedSeconds + 's'"></div>

				<div
				class="positions-circle"
				[class.isTurning]="singleTurnDegree !== 0"
				[style.--turn-degree]="singleTurnDegree + 'deg'"
				[style.--turn-speed-seconds]="turnSpeedSeconds + 's'">
					<ng-container *ngTemplateOutlet="position; context: {$implicit: 8, content: positions['inner'][8]}"></ng-container>
					<ng-container *ngTemplateOutlet="position; context: {$implicit: 2, content: positions['inner'][2]}"></ng-container>
					<ng-container *ngTemplateOutlet="position; context: {$implicit: 4, content: positions['inner'][4]}"></ng-container>
					<ng-container *ngTemplateOutlet="position; context: {$implicit: 6, content: positions['inner'][6]}"></ng-container>
				</div>

			</div>

			<ng-container *ngTemplateOutlet="position; context: {$implicit: 1, content: positions['outer'][1]}"></ng-container>
			<ng-container *ngTemplateOutlet="position; context: {$implicit: 3, content: positions['outer'][3]}"></ng-container>
			<ng-container *ngTemplateOutlet="position; context: {$implicit: 5, content: positions['outer'][5]}"></ng-container>
			<ng-container *ngTemplateOutlet="position; context: {$implicit: 7, content: positions['outer'][7]}"></ng-container>
		</div>

		<div class="circle-controller">
			<button type="button" [disabled]="!!globalControlsDisabled || singleTurnDegree !== 0" (click)="turnCCW()">Left</button>
			<button type="button" [disabled]="!!globalControlsDisabled || singleTurnDegree !== 0" (click)="turnCW()">Right</button>
		</div>
	</div>
</div>

<ng-template #position let-posNum let-content="content">
	<button
	[disabled]="!!globalControlsDisabled"
	[class.isSelected]="firstPosToSwitch === posNum"
	[class.isPossible]="posNum === firstPossibleSwitch || posNum === secondPossibleSwitch"
	class="position position-{{posNum}}"
	[class.isTurning]="singleTurnDegree !== 0"
	[style.--pos-turn-degree]="(-1 * singleTurnDegree) + 'deg'"
	[style.--pos-turn-speed-seconds]="turnSpeedSeconds + 's'"
	(click)="selectPosToSwitch(posNum)"
	>
		<span class="debug">{{posNum}}</span>
		<span>{{gameEntities[content].name}}</span>
	</button>
</ng-template>
